[workspace]
resolver = "3"
members = ["engine", "game", "renderer"]

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3

[profile.release]
lto = "thin"

[profile.profiling]
inherits = "release"
debug = true
