[
    BlockDefinition(
        id: 0,
        name: "air",
        textures: Invisible,
    ),
    BlockDefinition(
        id: 1,
        name: "grass",
        textures: PerFace(
            top: "grass.png",
            side: "grass_side.png",
            bottom: "dirt.png",
        ),
    ),
    BlockDefinition(
        id: 2,
        name: "dirt",
        textures: Single("dirt.png"),
    ),
    BlockDefinition(
        id: 3,
        name: "gold",
        textures: Single("gold.png"),
    ),
]